.rmbt-blog-posts-card {
  @padding_left: 300px;
  @offset_left: 30px;

  box-sizing: border-box;

  padding-top: @padding-top-section;
  padding-bottom: @padding-bottom-section;

  position: relative;
  padding-left: @padding_left + @offset_left;
  padding-right: 15px;
  height: 300px;
  // max-height: 160px;
  border-radius: 16px 16px 16px 16px;
  overflow: hidden;

  // .to(768px,{
  //   @offset_left: 5px;
  //   padding-right: 5px;
  // });
  // .to(480px,{
  //   padding-left: @offset_left;
  // });

  // .to(480px,{
  //     max-height: 220px;
  // });

  &__col {
  }
  &__article-body {
  }
  &__img {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: @padding_left;

    .to(480px,{
      display: none;
    });
  }

  &__content {
    position: relative;
    height: 100%;
    padding-top: 15px;
    padding-bottom: 4px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 5px;
  }

  .title-block {
    margin: 0px auto 10px auto;
    max-width: 100%;
    line-height: 110%;
    text-align: center;
    font-weight: 600;

    .to(480px,{
      text-align: center;
    });

    &:after {
      left: 15%;
      right: 15%;
      top: auto;
      bottom: -20px;
      width: auto;

      .to(480px,{
        right: 35px;
        left: 35px;
        width: auto;
      });
    }
  }

  .subtitle-block {
    line-height: 140%;
    font-weight: 400;
  }

  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px 12px 2px 12px;

    .to(768px,{
      width: 80%;
      margin: 0 auto;
    });

    .rmbt-button-read-more {
      position: static;
      font-size: 16px;
      .adaptive-prop(min-width, 120, 75);
      .adaptive-prop(height, 40, 25);
      .adaptive-prop(line-height, 40, 25);
      .adaptive-prop(padding-left, 10, 5);
      .adaptive-prop(padding-right, 10, 5);
      .adaptive-prop(outline-offset, -6, -4);
    }
  }
}
