.rmbt-full-width {
}
.rmbt-blog-full-width {
}
.rmbt-container {
}
.rmbt-blog {
  &__row {
    .row-flex();
    border: 1px solid #fd0526;
  }
  &__col {
    .col();
    .size(12);

    border: 1px solid #0515fd;

    article:not(:last-of-type) {
      margin-bottom: @margin_bottom_section;
    }
  }
}
.rmbt-blog-right-col {
}
.pagination {
}
