.spoiler {
  &__title {
    position: relative;
    cursor: pointer;
  }

  &__body {
    overflow: hidden;
    height: 0px;
    opacity: 0;
    pointer-events: none;

    transition: height 0.5s ease, opacity 1.5s ease;
  }

  ._open-body {
    opacity: 1;
    pointer-events: auto;
    transition: height 0.5s ease;
  }
}
