.contacts-page-wrapper-section {
}

.rmbt-contacts-page-full-width {
}

.rmbt-we-do-block-full-width {
      &__bg {}
}
.rmbt-contacts-page {
    &__row {
        .row-flex();
        row-gap: 30px;
        
    }

    &__col-right,
    &__col-left {
        .col();
    }


    &__col-left {
        .size(5);
        min-height: 600px;

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;       /* две строки */
        // gap: 30px;
        gap: 20px;
        
        
        .wrap-img {
            border-radius: 0px 16px 0px 0px;
            &:first-of-type{
                border-radius: 16px 0px 0px 16px;
            }
            &:last-of-type{
                border-radius: 0px 0px 16px 0px;
            }
        }
        // border: 1px solid #0515fd;
        
    }
    &__poster {
        position: relative;

        &:first-of-type{
            grid-row: 1 / 3;
        }
    }
    &__col-right {
        .size(7);



        // border: 1px dotted #0515fd;
        
    }

    &__map{
        .col();
        .size(12);
        height: 600px;

        border-radius: 16px;
        overflow: hidden;
    }


    &__article-body {}
    &__img {}
    &__article-text {}
    
    
    
    .title-section {
    }
    .subtitle-section {
    }
}



.rmbt-slide-in-tabs {
    display: flex;
    flex-direction: column;
    height: 100%;


}
.rmbt-slide-in-tabs-content {
    flex-grow: 1;
    position: relative;
    overflow: hidden;



    &__item {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 100%;
        height: 100%;
        transition: top 0.5s ease;
    }

    .active{
        top: 0%;
        transition: top 0.5s ease;
    }
}
.rmbt-slide-in-tabs-nav {
    &__item {
        
        padding: 20px;

        border: 1px dotted #03cc03;
      }
}
