.rmbt-our-services-full-width {
}
.rmbt-our-services {
  .rmbt-our-services-tabs {
    .row-flex();
    flex-wrap: nowrap;
    position: relative;
    height: 370px;

    .tabs__nav {
      .col();
      .size(4);
      height: 100%;

      display: flex;
      flex-wrap: wrap;
      row-gap: 15px;

      background-color: #fff;
      border-bottom: auto;
    }
    .tabs__title {
      cursor: pointer;
      width: 100%;
      padding: 0px 20px 10px 20px;
      border-radius: 16px 0px 0px 16px;
    }

    .tabs__arrow {
      border-radius: 50%;
      background-color: rgb(247, 247, 247);
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);

      width: 43px;
      height: 43px;

      .adaptive-prop(width, 43, 33);
      .adaptive-prop(height, 43, 33);

      svg {
        position: relative;

        left: 50%;
        top: 50%;
        transform: translate(-45%, -50%);
        width: 80%;
        height: 80%;
      }
    }

    .tabs__title-active {
    }
    .tabs__content {
      .col();
      .size(8);
      border-radius: 0px 16px 16px 0px;

      [data-tab-name='tab-1'] {
      }
      [data-tab-name='tab-2'] {
      }
      [data-tab-name='tab-3'] {
      }
    }
    .tabs__body {
      position: relative;
      height: 370px;

      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0px;
        top: 0;
        bottom: 0px;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 0px 16px 16px 0px;
      }

      .text-block {
        position: absolute;
        left: 0px;
        top: 50%;
        width: 65%;
        height: max-content;
        text-align: left;
        color: #ffffff;
        .adaptive-prop(font-size, 18, 14);
        letter-spacing: 0.044em;
        font-weight: 400;
        color: #ffffff;
        text-shadow: 1px 1px 1px #000000;
        z-index: 1;
      }

      .wrap-img {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        border-radius: 0px 16px 16px 0px;
      }
    }
    .tabs__body-active {
    }
  }
}
