.rmbt-our-services-full-width {
  
}
.rmbt-our-services {
  .subtitle-section {
    .to(768px,{
      width: 90%;
      margin-top: 30px;
    });
  }

  .rmbt-our-services-tabs {
    .row-flex();
    flex-wrap: nowrap;
    position: relative;
    min-height: 370px;


    .to(768px,{
      flex-direction: column;
      min-height: 480px;
    });

    .tabs__nav {
      .col();
      .size(4);
      height: 100%;
      background-color: #fff;
      border-bottom: auto;
      display: flex;
      flex-wrap: wrap;
      row-gap: 15px;

      .to(768px,{
        .size(12);
        row-gap: 0;
        column-gap: 2px;
      });

      .to(560px,{
        
        flex-direction: column;
        });
    }
    .tabs__title {
      position: relative;
      cursor: pointer;
      width: 100%;
      height: 110px;
      padding: 0px 20px 10px 20px;
      border-radius: 16px 0px 0px 16px;

      transition: 
      transform .28s cubic-bezier(.2,.8,.2,1),
      box-shadow .28s cubic-bezier(.2,.8,.2,1),
      background-color .3s;
      will-change: transform, box-shadow;
    // transform-style: preserve-3d;

    &:hover {
      transform: translateY(-2px) scale(1.005);
      box-shadow: 4px 6px 12px rgba(0,0,0,.25);
      background-color: #f9f9f9;

      .tabs__arrow{
        box-shadow: 3px 4px 8px rgba(0,0,0,.3);
      }

    }


      .subtitle-block {
        max-height: 50px;
        .adaptive-prop(margin-left, 15, 0);
      }

      .to(768px,{
        border-radius: 16px 16px 0px 0px;
        position: relative;
        flex-basis: 20%;
        flex-grow: 1;
        background-color: #fff;
        position: relative;
        padding-left: 15px;
        padding-right: 15px;
        backdrop-filter: blur(4px);
        background-color: rgba(213, 213, 213, 0.15);
        box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);        

          .title-block{
            text-align: center;
            margin-left: auto;
            color: rgba(4, 42, 31, 0.6);
            &::after{
              width: auto;
              left: 7%;
              right: 7%;
              background-color: rgba(243, 81, 0, 0.6);
            }

          }

          .subtitle-block{
            text-align: center;
            margin-left: 0px;
            color: rgba(6, 55, 41, 0.6);
          }
        });

      .to(560px,{
        order: 1;
        margin-bottom: -16px;
        background-color: #f9f9f9;
        });
    }

    .tabs__arrow {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(50%, -50%);
      border-radius: 50%;
      background-color: rgb(247, 247, 247);
      box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
      .adaptive-prop(width, 43, 33);
      height: 0px;

      .to(768px,{
        display: none;
      });

      svg {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-42%, -50%);
        width: 35px;
        height: 35px;
        height: 0px;

      }
    }

    .tabs__title-active {
      background-color: #fff;

      .tabs__arrow {
        .adaptive-prop(height, 43, 33);
        transition: height 0.25s ease-in;
        
        svg {
          
          height: 35px;
          transition: height 0.25s ease-in;
  
        }
      }

      .to(768px,{
        z-index: 2;
        flex-grow:3;

        &:not(:first-child){
          margin-left: -15px;
        }

        &:not(:last-child){
          margin-right: -15px;
        }

        .title-block{
          text-align: center;
          margin-left: auto;
          color: rgba(4, 42, 31, 1);
          &::after{
            background-color: rgba(243, 81, 0, 1);
          }
        }

        .subtitle-block{
          text-align: center;
          margin-left: 0px;
          color: rgba(6, 55, 41, 1);
        }        
      });

      .to(560px,{

         order: 10;
         margin-bottom: 0px;
         background-color: #fff;
        
        &:not(:first-child){
          margin-left: 0px;
        }

        &:not(:last-child){
          margin-right: 0px;
        }

        .title-block{

        }
        
      });
    }
    .tabs__content {
      .col();
      .size(8);
      border-radius: 16px 16px 16px 16px;

      .to(768px,{
        .size(12);
         border-radius: 0px 0px 0px 0px;
        z-index: 3;
      });

      [data-tab-name='tab-1'] {
      }
      [data-tab-name='tab-2'] {
      }
      [data-tab-name='tab-3'] {
      }
    }
    .tabs__body {
      position: absolute;
      left: 0px;
      right: 0px;
      top: 0px;
      bottom: 0px;
      border-radius: 0px 16px 16px 0px;
      height: 370px;
      transition: opacity 0.25s ease-in;
      opacity: 0;
      pointer-events: none;


      &:hover{
        img{
          transform: scale(1.075);
          transition: transform .6s;
        }
      }

      img{

        transition: transform .6s;
      }
      .to(768px,{
          border-radius: 0px 0px 0px 0px;
        });
      &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0px;
        top: 0;
        bottom: 0px;
        background-color: rgba(0, 0, 0, 0.3);
        border-radius: 0px 16px 16px 0px;

        .to(768px,{
          border-radius: 0px 0px 0px 0px;
        });
      }

      .text-block {
        position: absolute;
        left: 0px;
        right: 35%;
        top: 50%;
        height: max-content;
        text-align: left;
        color: #ffffff;
        .adaptive-prop(font-size, 18, 14);
        letter-spacing: 0.044em;
        font-weight: 400;
        color: #ffffff;
        text-shadow: 1px 1px 1px #000000;
        z-index: 1;

        .to(768px,{
          right: 10px;
        });
      }

      .wrap-img {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        border-radius: 0px 16px 16px 0px;

        .to(768px,{
          border-radius: 0px 0px 0px 0px;
        });
      }
    }
    .tabs__body-active {
      opacity: 1;
      pointer-events: auto;
    }
  }
}



