.rmbt-copyright-block-1 {
  width: 100%;
  color: @font-color-block-details;

  border-top: 1px solid @border-color-wireframe-inner;
  padding-top: @padding-top-block;

  // border: 1px dashed @border-color-wireframe-external;

  &__body {
    box-sizing: border-box;
    position: relative;
    margin: 0px 0px 0px 0px;
    padding-top: @padding-top-block;
    padding-bottom: @padding-bottom-block;

    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 35px;

    text-transform: capitalize;
    svg {
      width: 23px;
      height: 23px;

      fill: @font-color-block-details;
      border-radius: 50%;
    }
  }
}
