.rmbt-section-tabs-1-full-width {
}
.rmbt-section-tabs-1 {
  // &__row {
  //   .row-flex();
  //   position: relative;
  //   height: 500px;
  // }

  .rmbt-section-tabs-1-tabs {
    // position: relative;

    .row-flex();
    position: relative;
    height: 500px;

    // width: 100%;

    // display: flex;

    .tabs__nav {
      .col();
      .size(2);
      height: 100%;
      width: 160px;

      display: flex;
      flex-wrap: wrap;
      row-gap: 30px;

      background-color: #fff;
      border-bottom: auto;
    }
    .tabs__title {
      width: 100%;
      cursor: pointer;
      background-color: #8f9baa;
    }
    .tabs__title-active {
    }
    .tabs__content {
      .col();
      .size(10);
      // border: 2px solid #068368;

      [data-tab-name='tab-1'] {
        background-color: #e5eaf1;
      }
      [data-tab-name='tab-2'] {
        background-color: #e5f1e8;
      }
      [data-tab-name='tab-3'] {
        background-color: #f1f1e5;
      }
    }
    .tabs__body {
      height: 500px;
    }
    .tabs__body-active {
    }
  }
  // .rmbt-section-tabs-1-tabs {
  // }
}
