/*
*   Basic styles for blocks intended for use in every project
*/

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: @margin_bottom_section;
}
a {
  color: inherit;
  text-decoration: none;

  display: block;

  &:hover {
    transform: scale(1.025);
    transition: all 0.1s ease-in-out;
  }
}

/* ограничивающий контейнер для всей страницы 
    нужен для организации вертикальных отношений между основными блоками
*/
.rmbt-page-wrap {
  max-width: @width_main_wrapper;
  min-height: 100vh;
  margin: 0px auto;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  row-gap: @margin_bottom_section;

  background-color: @color_background_pages;
}

/*центрующий контейнер контентной ширины*/
.rmbt-container {
  .wrapper();
}

/*центрующий контейнер фоновой ширины*/
.rmbt-full-width {
  position: relative;

  // background-color: #9ef7b9;
}

.debug-grid {
  z-index: 100;
  pointer-events: none;
  .debug(#d0d6f81a, 1px rgba(6, 235, 197, 0.4) dashed);
}

.wrap-img {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;

  img,
  svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
}

.wrap-img-a {
  position: relative;
  overflow: hidden;

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    // height: 100%;
    height: auto; // тестировать
    object-fit: contain;
    object-position: center;
  }
}

.rmbt-close-window {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 20px;
  height: 20px;

  &:after,
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    left: 0px;
    top: 50%;
  }

  &:after {
    transform: rotate(45deg);
  }

  &:before {
    transform: rotate(-45deg);
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.5s ease-out;
  }
}

body.rmbt-lock {
  overflow: hidden;
}

.svg-footer-icons {
  box-sizing: border-box;
  color: #000;
  border-radius: 50%;
  border: 1px solid #fff;
  outline: 2px solid #fff;
  outline-offset: -2px;
  .adaptive-prop(width, 62, 42);
  .adaptive-prop(height, 62, 42);
  flex-shrink: 0;
}
.svg-header-icons {
  box-sizing: border-box;
  color: #a41c35;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #a41c35;
  outline: 2px solid #a41c35;
  outline-offset: -2px;
  .adaptive-prop(width, 62, 42);
  .adaptive-prop(height, 62, 42);
  flex-shrink: 0;
}

.title-block,
.title-section {
  position: relative;
  font-family: Podkova;
  .adaptive-prop(font-size, 35, 20);
  line-height: 60%;
  font-weight: 800;
  letter-spacing: 0.027em;
  text-align: center;
  color: #042b1f;
  text-shadow: 1px 1px 2px #d5d5d5;
  width: max-content;
  margin-left: auto;
  margin-right: auto;

  &:after {
    content: '';
    position: absolute;
    left: -6px;
    right: -6px;
    top: 135%;
    height: 3px;
    box-shadow: 1px 1px 2px #d5d5d5;
    background-color: #f35200;
  }
}

.title-section {
  max-width: 80%;
  line-height: 100%;
}

.title-block {
  .adaptive-prop(font-size, 20, 16);
  margin-left: 0;
  margin-bottom: 20px;
  font-style: italic;

  &:after {
    left: 0px;
    width: 80px;
    top: 160%;
    height: 2px;
  }
}

.text-block,
.subtitle-block,
.subtitle-section {
  font-family: Ubuntu;
  font-size: 18px;
  .adaptive-prop(font-size, 18, 14);
  line-height: 130%;
  letter-spacing: -0, 005em;
  color: #06392a;
  letter-spacing: 0em;
  text-align: center;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

.text-block,
.subtitle-block {
  text-align: left;
  margin-left: 20px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 0px;
  width: auto;
  .adaptive-prop(font-size, 16, 12);
  line-height: 125%;
  overflow: hidden;
  font-style: italic;
}

.text-block {
}

.form-field-group {
  // border: 1px solid #04c052;

  label,
  input {
    display: block;
  }

  label {
    // border: 1px solid #222120;
  }

  input {
    // border: 1px solid #ff25d0;
  }
}

.shadow-box {
  background-color: rgba(213, 213, 213, 0.15);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(4px);
}

/*========= for display results work function in the process of develop  ==============*/

.test-block {
  position: absolute;
  top: 50px;
  left: 50px;
  z-index: 9999;
  min-width: 300px;
  width: max-content;
  max-width: 90vw;
  background-color: #ffffff;
  border: 5px double #0515fd;
  padding: 25px 20px 25px 20px;
  font-size: 18px;
  height: 90vh;
  overflow: auto;
}

.block-details {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  height: 100%;
  text-align: center;

  font-family: Arial;
  font-size: 14px;
  text-transform: lowercase;
  font-weight: 200;
  font-style: italic;
  color: @font-color-block-details;

  &:hover {
    p.description {
      display: block;
    }
  }

  p.description {
    position: absolute;
    right: -10px;
    bottom: 80%;
    transform: translate(-0%, 0%);
    width: max-content;
    max-width: 80%;
    height: auto;

    background-color: #fff7e0;
    border: 1px solid @border-color-wireframe-inner;
    padding: 15px;

    font-size: 12px;

    text-align: center;
    font-style: italic;
    color: #858585;
    display: none;
  }
}
