.rmbt-templates-page {
  .templates-page-section-title {
    width: 100%;
  }

  .templates-page-section-title h2 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .templates-page-section p {
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .templates-page-components {
    width: 100%;
  }

  .templates-page-components p {
    margin-bottom: 30px;
  }

  .templates-page-components__body {
    display: flex;
    row-gap: 15px;
    padding: 20px 0px 20px 0px;

    height: 300px;
    // border: 1px solid #9c9c9c;
    position: relative;
  }

  .get-template-part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
  }
  .text-to-copy {
    font-family: Raleway;
    font-size: 14px;
    margin: 0px 0px 10px 0px;
  }
  .copy-button {
    width: 80px;
    height: 40px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: 700;
    color: #6c6c6c;
    background-color: #e7e6e6;
    transition: all 0.75s;
    letter-spacing: 1px;
  }

  .success-to-copy {
    background-color: #61c11c;
    border: 2px solid #59a820;
    color: #e3fde0;
    transition: all 0.75s;
  }

  .error-to-copy {
    background-color: #f67777;
    border: 2px solid #d26e6e;
    color: #f6dcdc;
  }

  /*---- tabs ----*/

  .rmbt-templates-page-tabs {
    position: relative;

    &__nav {
      position: fixed;
      left: 0px;
      top: 50%;
      transform: rotate(-90deg) translate(-50%, 0%);
      transform-origin: left top;
      width: 100vh;
      height: 65px;
      border-bottom: 2px solid #a1a1a1;
      background-color: #eceaea;
      display: flex;
      justify-content: center;
      column-gap: 5px;
      padding-top: 20px;

      .tabs__title {
        position: relative;
        background-color: #fff;
        top: 2px;
        padding: 10px 20px 10px 20px;
        text-transform: capitalize;
        font-size: 22px;
        border-radius: 10px 10px 0px 0px;
        font-weight: 600;

        border: 1px solid @border-color-passive-control;
        border-bottom: 2px solid #a1a1a1;
        color: @font-color-passive-control;
      }

      .tabs__title-active {
        color: @font-color-active-control;
        background-color: @background-active-control;
        border: 2px solid @border-color-active-control;
        border-bottom: none;
        z-index: 1;
      }
    }

    &__content {
      // .col();
      // .size(12);
      font-family: RobotoFlex;

      .to(1330px,{
    padding-left: 75px;
    padding-right: 30px;
    });

      position: relative;
      border-top: none;
      top: 0px;
      .tabs__body-active {
        width: 100%;
        display: flex !important;
        flex-direction: column;
        row-gap: 60px;

        padding-bottom: 160px;
      }
    }
  }
}
