@font-face {
                        font-family: "1";
                        font-display: swap;
                        src: url("../fonts/1.woff2") format("woff2"), url("../fonts/1.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "AnnieUseYourTelescope";
                        font-display: swap;
                        src: url("../fonts/AnnieUseYourTelescope-Regular.woff2") format("woff2"), url("../fonts/AnnieUseYourTelescope-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Biryani,Podkova,Titillium_Web";
                        font-display: swap;
                        src: url("../fonts/Biryani,Podkova,Titillium_Web.woff2") format("woff2"), url("../fonts/Biryani,Podkova,Titillium_Web.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Annie_Use_Your_Telescope,Kalam,Lemonada,Libre_Franklin,Overlock,etc";
                        font-display: swap;
                        src: url("../fonts/Annie_Use_Your_Telescope,Kalam,Lemonada,Libre_Franklin,Overlock,etc.woff2") format("woff2"), url("../fonts/Annie_Use_Your_Telescope,Kalam,Lemonada,Libre_Franklin,Overlock,etc.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Biryani";
                        font-display: swap;
                        src: url("../fonts/Biryani-ExtraBold.woff2") format("woff2"), url("../fonts/Biryani-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;

                     }
@font-face {
                        font-family: "Biryani";
                        font-display: swap;
                        src: url("../fonts/Biryani-Black.woff2") format("woff2"), url("../fonts/Biryani-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;

                     }
@font-face {
                        font-family: "Biryani";
                        font-display: swap;
                        src: url("../fonts/Biryani-ExtraLight.woff2") format("woff2"), url("../fonts/Biryani-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;

                     }
@font-face {
                        font-family: "Biryani";
                        font-display: swap;
                        src: url("../fonts/Biryani-Light.woff2") format("woff2"), url("../fonts/Biryani-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;

                     }
@font-face {
                        font-family: "Biryani";
                        font-display: swap;
                        src: url("../fonts/Biryani-Regular.woff2") format("woff2"), url("../fonts/Biryani-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Biryani";
                        font-display: swap;
                        src: url("../fonts/Biryani-SemiBold.woff2") format("woff2"), url("../fonts/Biryani-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;

                     }
@font-face {
                        font-family: "Biryani";
                        font-display: swap;
                        src: url("../fonts/Biryani-Bold.woff2") format("woff2"), url("../fonts/Biryani-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;

                     }
@font-face {
                        font-family: "Kalam";
                        font-display: swap;
                        src: url("../fonts/Kalam-Bold.woff2") format("woff2"), url("../fonts/Kalam-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;

                     }
@font-face {
                        font-family: "Kalam";
                        font-display: swap;
                        src: url("../fonts/Kalam-Regular.woff2") format("woff2"), url("../fonts/Kalam-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Lemonada";
                        font-display: swap;
                        src: url("../fonts/Lemonada-Bold.woff2") format("woff2"), url("../fonts/Lemonada-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;

                     }
@font-face {
                        font-family: "Lemonada";
                        font-display: swap;
                        src: url("../fonts/Lemonada-Medium.woff2") format("woff2"), url("../fonts/Lemonada-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;

                     }
@font-face {
                        font-family: "Kalam";
                        font-display: swap;
                        src: url("../fonts/Kalam-Light.woff2") format("woff2"), url("../fonts/Kalam-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;

                     }
@font-face {
                        font-family: "Lemonada";
                        font-display: swap;
                        src: url("../fonts/Lemonada-Light.woff2") format("woff2"), url("../fonts/Lemonada-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;

                     }
@font-face {
                        font-family: "Lemonada";
                        font-display: swap;
                        src: url("../fonts/Lemonada-Regular.woff2") format("woff2"), url("../fonts/Lemonada-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Lemonada";
                        font-display: swap;
                        src: url("../fonts/Lemonada-SemiBold.woff2") format("woff2"), url("../fonts/Lemonada-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;

                     }
@font-face {
                        font-family: "Lemonada";
                        font-display: swap;
                        src: url("../fonts/Lemonada-VariableFont_wght.woff2") format("woff2"), url("../fonts/Lemonada-VariableFont_wght.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "LibreFranklin";
                        font-display: swap;
                        src: url("../fonts/LibreFranklin-Black.woff2") format("woff2"), url("../fonts/LibreFranklin-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;

                     }
@font-face {
                        font-family: "LibreFranklin";
                        font-display: swap;
                        src: url("../fonts/LibreFranklin-BlackItalic.woff2") format("woff2"), url("../fonts/LibreFranklin-BlackItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "LibreFranklin";
                        font-display: swap;
                        src: url("../fonts/LibreFranklin-Bold.woff2") format("woff2"), url("../fonts/LibreFranklin-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;

                     }
@font-face {
                        font-family: "LibreFranklin";
                        font-display: swap;
                        src: url("../fonts/LibreFranklin-BoldItalic.woff2") format("woff2"), url("../fonts/LibreFranklin-BoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "LibreFranklin";
                        font-display: swap;
                        src: url("../fonts/LibreFranklin-ExtraBold.woff2") format("woff2"), url("../fonts/LibreFranklin-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;

                     }
@font-face {
                        font-family: "LibreFranklin";
                        font-display: swap;
                        src: url("../fonts/LibreFranklin-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/LibreFranklin-ExtraBoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "LibreFranklin";
                        font-display: swap;
                        src: url("../fonts/LibreFranklin-ExtraLightItalic.woff2") format("woff2"), url("../fonts/LibreFranklin-ExtraLightItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "LibreFranklin";
                        font-display: swap;
                        src: url("../fonts/LibreFranklin-Italic-VariableFont_wght.woff2") format("woff2"), url("../fonts/LibreFranklin-Italic-VariableFont_wght.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "LibreFranklin";
                        font-display: swap;
                        src: url("../fonts/LibreFranklin-ExtraLight.woff2") format("woff2"), url("../fonts/LibreFranklin-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;

                     }
@font-face {
                        font-family: "LibreFranklin";
                        font-display: swap;
                        src: url("../fonts/LibreFranklin-Light.woff2") format("woff2"), url("../fonts/LibreFranklin-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;

                     }
@font-face {
                        font-family: "LibreFranklin";
                        font-display: swap;
                        src: url("../fonts/LibreFranklin-Italic.woff2") format("woff2"), url("../fonts/LibreFranklin-Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "LibreFranklin";
                        font-display: swap;
                        src: url("../fonts/LibreFranklin-LightItalic.woff2") format("woff2"), url("../fonts/LibreFranklin-LightItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "LibreFranklin";
                        font-display: swap;
                        src: url("../fonts/LibreFranklin-MediumItalic.woff2") format("woff2"), url("../fonts/LibreFranklin-MediumItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "LibreFranklin";
                        font-display: swap;
                        src: url("../fonts/LibreFranklin-SemiBold.woff2") format("woff2"), url("../fonts/LibreFranklin-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;

                     }
@font-face {
                        font-family: "LibreFranklin";
                        font-display: swap;
                        src: url("../fonts/LibreFranklin-Medium.woff2") format("woff2"), url("../fonts/LibreFranklin-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;

                     }
@font-face {
                        font-family: "LibreFranklin";
                        font-display: swap;
                        src: url("../fonts/LibreFranklin-Regular.woff2") format("woff2"), url("../fonts/LibreFranklin-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "LibreFranklin";
                        font-display: swap;
                        src: url("../fonts/LibreFranklin-SemiBoldItalic.woff2") format("woff2"), url("../fonts/LibreFranklin-SemiBoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "LibreFranklin";
                        font-display: swap;
                        src: url("../fonts/LibreFranklin-Thin.woff2") format("woff2"), url("../fonts/LibreFranklin-Thin.woff") format("woff");
	font-weight: 100;
	font-style: normal;

                     }
@font-face {
                        font-family: "LibreFranklin";
                        font-display: swap;
                        src: url("../fonts/LibreFranklin-ThinItalic.woff2") format("woff2"), url("../fonts/LibreFranklin-ThinItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "LibreFranklin";
                        font-display: swap;
                        src: url("../fonts/LibreFranklin-VariableFont_wght.woff2") format("woff2"), url("../fonts/LibreFranklin-VariableFont_wght.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Overlock";
                        font-display: swap;
                        src: url("../fonts/Overlock-Black.woff2") format("woff2"), url("../fonts/Overlock-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;

                     }
@font-face {
                        font-family: "Overlock";
                        font-display: swap;
                        src: url("../fonts/Overlock-BlackItalic.woff2") format("woff2"), url("../fonts/Overlock-BlackItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Overlock";
                        font-display: swap;
                        src: url("../fonts/Overlock-Italic.woff2") format("woff2"), url("../fonts/Overlock-Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Overlock";
                        font-display: swap;
                        src: url("../fonts/Overlock-BoldItalic.woff2") format("woff2"), url("../fonts/Overlock-BoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Overlock";
                        font-display: swap;
                        src: url("../fonts/Overlock-Bold.woff2") format("woff2"), url("../fonts/Overlock-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;

                     }
@font-face {
                        font-family: "Overlock";
                        font-display: swap;
                        src: url("../fonts/Overlock-Regular.woff2") format("woff2"), url("../fonts/Overlock-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Podkova";
                        font-display: swap;
                        src: url("../fonts/Podkova-ExtraBold.woff2") format("woff2"), url("../fonts/Podkova-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;

                     }
@font-face {
                        font-family: "Podkova";
                        font-display: swap;
                        src: url("../fonts/Podkova-Medium.woff2") format("woff2"), url("../fonts/Podkova-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;

                     }
@font-face {
                        font-family: "Podkova";
                        font-display: swap;
                        src: url("../fonts/Podkova-Regular.woff2") format("woff2"), url("../fonts/Podkova-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Podkova";
                        font-display: swap;
                        src: url("../fonts/Podkova-SemiBold.woff2") format("woff2"), url("../fonts/Podkova-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;

                     }
@font-face {
                        font-family: "Podkova";
                        font-display: swap;
                        src: url("../fonts/Podkova-VariableFont_wght.woff2") format("woff2"), url("../fonts/Podkova-VariableFont_wght.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Quicksand";
                        font-display: swap;
                        src: url("../fonts/Quicksand-Bold.woff2") format("woff2"), url("../fonts/Quicksand-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;

                     }
@font-face {
                        font-family: "Quicksand";
                        font-display: swap;
                        src: url("../fonts/Quicksand-Light.woff2") format("woff2"), url("../fonts/Quicksand-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;

                     }
@font-face {
                        font-family: "Quicksand";
                        font-display: swap;
                        src: url("../fonts/Quicksand-Medium.woff2") format("woff2"), url("../fonts/Quicksand-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;

                     }
@font-face {
                        font-family: "Quicksand";
                        font-display: swap;
                        src: url("../fonts/Quicksand-Regular.woff2") format("woff2"), url("../fonts/Quicksand-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Quicksand";
                        font-display: swap;
                        src: url("../fonts/Quicksand-SemiBold.woff2") format("woff2"), url("../fonts/Quicksand-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;

                     }
@font-face {
                        font-family: "Quicksand";
                        font-display: swap;
                        src: url("../fonts/Quicksand-VariableFont_wght.woff2") format("woff2"), url("../fonts/Quicksand-VariableFont_wght.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Podkova";
                        font-display: swap;
                        src: url("../fonts/Podkova-Bold.woff2") format("woff2"), url("../fonts/Podkova-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;

                     }
@font-face {
                        font-family: "Ranga";
                        font-display: swap;
                        src: url("../fonts/Ranga-Regular.woff2") format("woff2"), url("../fonts/Ranga-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Rubik";
                        font-display: swap;
                        src: url("../fonts/Rubik-Black.woff2") format("woff2"), url("../fonts/Rubik-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;

                     }
@font-face {
                        font-family: "Rubik";
                        font-display: swap;
                        src: url("../fonts/Rubik-BlackItalic.woff2") format("woff2"), url("../fonts/Rubik-BlackItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Rubik";
                        font-display: swap;
                        src: url("../fonts/Rubik-Bold.woff2") format("woff2"), url("../fonts/Rubik-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;

                     }
@font-face {
                        font-family: "Rubik";
                        font-display: swap;
                        src: url("../fonts/Rubik-BoldItalic.woff2") format("woff2"), url("../fonts/Rubik-BoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Rubik";
                        font-display: swap;
                        src: url("../fonts/Rubik-ExtraBold.woff2") format("woff2"), url("../fonts/Rubik-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;

                     }
@font-face {
                        font-family: "Ranga";
                        font-display: swap;
                        src: url("../fonts/Ranga-Bold.woff2") format("woff2"), url("../fonts/Ranga-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;

                     }
@font-face {
                        font-family: "Rubik";
                        font-display: swap;
                        src: url("../fonts/Rubik-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Rubik-ExtraBoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Rubik";
                        font-display: swap;
                        src: url("../fonts/Rubik-Italic-VariableFont_wght.woff2") format("woff2"), url("../fonts/Rubik-Italic-VariableFont_wght.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Rubik";
                        font-display: swap;
                        src: url("../fonts/Rubik-Italic.woff2") format("woff2"), url("../fonts/Rubik-Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Rubik";
                        font-display: swap;
                        src: url("../fonts/Rubik-Light.woff2") format("woff2"), url("../fonts/Rubik-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;

                     }
@font-face {
                        font-family: "Rubik";
                        font-display: swap;
                        src: url("../fonts/Rubik-LightItalic.woff2") format("woff2"), url("../fonts/Rubik-LightItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Rubik";
                        font-display: swap;
                        src: url("../fonts/Rubik-Medium.woff2") format("woff2"), url("../fonts/Rubik-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;

                     }
@font-face {
                        font-family: "Rubik";
                        font-display: swap;
                        src: url("../fonts/Rubik-MediumItalic.woff2") format("woff2"), url("../fonts/Rubik-MediumItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Rubik";
                        font-display: swap;
                        src: url("../fonts/Rubik-Regular.woff2") format("woff2"), url("../fonts/Rubik-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Rubik";
                        font-display: swap;
                        src: url("../fonts/Rubik-SemiBold.woff2") format("woff2"), url("../fonts/Rubik-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;

                     }
@font-face {
                        font-family: "Rubik";
                        font-display: swap;
                        src: url("../fonts/Rubik-VariableFont_wght.woff2") format("woff2"), url("../fonts/Rubik-VariableFont_wght.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Rubik";
                        font-display: swap;
                        src: url("../fonts/Rubik-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Rubik-SemiBoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "TitilliumWeb";
                        font-display: swap;
                        src: url("../fonts/TitilliumWeb-Black.woff2") format("woff2"), url("../fonts/TitilliumWeb-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;

                     }
@font-face {
                        font-family: "TitilliumWeb";
                        font-display: swap;
                        src: url("../fonts/TitilliumWeb-Bold.woff2") format("woff2"), url("../fonts/TitilliumWeb-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;

                     }
@font-face {
                        font-family: "TitilliumWeb";
                        font-display: swap;
                        src: url("../fonts/TitilliumWeb-BoldItalic.woff2") format("woff2"), url("../fonts/TitilliumWeb-BoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "TitilliumWeb";
                        font-display: swap;
                        src: url("../fonts/TitilliumWeb-ExtraLightItalic.woff2") format("woff2"), url("../fonts/TitilliumWeb-ExtraLightItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "TitilliumWeb";
                        font-display: swap;
                        src: url("../fonts/TitilliumWeb-ExtraLight.woff2") format("woff2"), url("../fonts/TitilliumWeb-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;

                     }
@font-face {
                        font-family: "TitilliumWeb";
                        font-display: swap;
                        src: url("../fonts/TitilliumWeb-Light.woff2") format("woff2"), url("../fonts/TitilliumWeb-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;

                     }
@font-face {
                        font-family: "TitilliumWeb";
                        font-display: swap;
                        src: url("../fonts/TitilliumWeb-Italic.woff2") format("woff2"), url("../fonts/TitilliumWeb-Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "TitilliumWeb";
                        font-display: swap;
                        src: url("../fonts/TitilliumWeb-LightItalic.woff2") format("woff2"), url("../fonts/TitilliumWeb-LightItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "TitilliumWeb";
                        font-display: swap;
                        src: url("../fonts/TitilliumWeb-Regular.woff2") format("woff2"), url("../fonts/TitilliumWeb-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "TitilliumWeb";
                        font-display: swap;
                        src: url("../fonts/TitilliumWeb-SemiBold.woff2") format("woff2"), url("../fonts/TitilliumWeb-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;

                     }
@font-face {
                        font-family: "TitilliumWeb";
                        font-display: swap;
                        src: url("../fonts/TitilliumWeb-SemiBoldItalic.woff2") format("woff2"), url("../fonts/TitilliumWeb-SemiBoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Ubuntu";
                        font-display: swap;
                        src: url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;

                     }
@font-face {
                        font-family: "Ubuntu";
                        font-display: swap;
                        src: url("../fonts/Ubuntu-BoldItalic.woff2") format("woff2"), url("../fonts/Ubuntu-BoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Ubuntu";
                        font-display: swap;
                        src: url("../fonts/Ubuntu-Italic.woff2") format("woff2"), url("../fonts/Ubuntu-Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Ubuntu";
                        font-display: swap;
                        src: url("../fonts/Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;

                     }
@font-face {
                        font-family: "Ubuntu";
                        font-display: swap;
                        src: url("../fonts/Ubuntu-LightItalic.woff2") format("woff2"), url("../fonts/Ubuntu-LightItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Ubuntu";
                        font-display: swap;
                        src: url("../fonts/Ubuntu-MediumItalic.woff2") format("woff2"), url("../fonts/Ubuntu-MediumItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Ubuntu";
                        font-display: swap;
                        src: url("../fonts/Ubuntu-Regular.woff2") format("woff2"), url("../fonts/Ubuntu-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "YanoneKaffeesatz";
                        font-display: swap;
                        src: url("../fonts/YanoneKaffeesatz-Bold.woff2") format("woff2"), url("../fonts/YanoneKaffeesatz-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;

                     }
@font-face {
                        font-family: "Ubuntu";
                        font-display: swap;
                        src: url("../fonts/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;

                     }
@font-face {
                        font-family: "YanoneKaffeesatz";
                        font-display: swap;
                        src: url("../fonts/YanoneKaffeesatz-ExtraLight.woff2") format("woff2"), url("../fonts/YanoneKaffeesatz-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;

                     }
@font-face {
                        font-family: "YanoneKaffeesatz";
                        font-display: swap;
                        src: url("../fonts/YanoneKaffeesatz-Light.woff2") format("woff2"), url("../fonts/YanoneKaffeesatz-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;

                     }
@font-face {
                        font-family: "YanoneKaffeesatz";
                        font-display: swap;
                        src: url("../fonts/YanoneKaffeesatz-Medium.woff2") format("woff2"), url("../fonts/YanoneKaffeesatz-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;

                     }
@font-face {
                        font-family: "YanoneKaffeesatz";
                        font-display: swap;
                        src: url("../fonts/YanoneKaffeesatz-Regular.woff2") format("woff2"), url("../fonts/YanoneKaffeesatz-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "YanoneKaffeesatz";
                        font-display: swap;
                        src: url("../fonts/YanoneKaffeesatz-SemiBold.woff2") format("woff2"), url("../fonts/YanoneKaffeesatz-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;

                     }
@font-face {
                        font-family: "YanoneKaffeesatz";
                        font-display: swap;
                        src: url("../fonts/YanoneKaffeesatz-VariableFont_wght.woff2") format("woff2"), url("../fonts/YanoneKaffeesatz-VariableFont_wght.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
