@font-face {
                        font-family: "1";
                        font-display: swap;
                        src: url("../fonts/1.woff2") format("woff2"), url("../fonts/1.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Annie_Use_Your_Telescope,Kalam,Lemonada,Libre_Franklin,Overlock,etc";
                        font-display: swap;
                        src: url("../fonts/Annie_Use_Your_Telescope,Kalam,Lemonada,Libre_Franklin,Overlock,etc.woff2") format("woff2"), url("../fonts/Annie_Use_Your_Telescope,Kalam,Lemonada,Libre_Franklin,Overlock,etc.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Biryani,Podkova,Titillium_Web";
                        font-display: swap;
                        src: url("../fonts/Biryani,Podkova,Titillium_Web.woff2") format("woff2"), url("../fonts/Biryani,Podkova,Titillium_Web.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Biryani";
                        font-display: swap;
                        src: url("../fonts/Biryani-ExtraBold.woff2") format("woff2"), url("../fonts/Biryani-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;

                     }
@font-face {
                        font-family: "Biryani";
                        font-display: swap;
                        src: url("../fonts/Biryani-Bold.woff2") format("woff2"), url("../fonts/Biryani-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;

                     }
@font-face {
                        font-family: "Biryani";
                        font-display: swap;
                        src: url("../fonts/Biryani-Black.woff2") format("woff2"), url("../fonts/Biryani-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;

                     }
@font-face {
                        font-family: "Biryani";
                        font-display: swap;
                        src: url("../fonts/Biryani-Regular.woff2") format("woff2"), url("../fonts/Biryani-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Biryani";
                        font-display: swap;
                        src: url("../fonts/Biryani-Light.woff2") format("woff2"), url("../fonts/Biryani-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;

                     }
@font-face {
                        font-family: "Biryani";
                        font-display: swap;
                        src: url("../fonts/Biryani-ExtraLight.woff2") format("woff2"), url("../fonts/Biryani-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;

                     }
@font-face {
                        font-family: "Lemonada";
                        font-display: swap;
                        src: url("../fonts/Lemonada-Bold.woff2") format("woff2"), url("../fonts/Lemonada-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;

                     }
@font-face {
                        font-family: "Biryani";
                        font-display: swap;
                        src: url("../fonts/Biryani-SemiBold.woff2") format("woff2"), url("../fonts/Biryani-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;

                     }
@font-face {
                        font-family: "Lemonada";
                        font-display: swap;
                        src: url("../fonts/Lemonada-Regular.woff2") format("woff2"), url("../fonts/Lemonada-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Lemonada";
                        font-display: swap;
                        src: url("../fonts/Lemonada-Medium.woff2") format("woff2"), url("../fonts/Lemonada-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;

                     }
@font-face {
                        font-family: "Lemonada";
                        font-display: swap;
                        src: url("../fonts/Lemonada-SemiBold.woff2") format("woff2"), url("../fonts/Lemonada-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;

                     }
@font-face {
                        font-family: "Overlock";
                        font-display: swap;
                        src: url("../fonts/Overlock-Black.woff2") format("woff2"), url("../fonts/Overlock-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;

                     }
@font-face {
                        font-family: "Lemonada";
                        font-display: swap;
                        src: url("../fonts/Lemonada-Light.woff2") format("woff2"), url("../fonts/Lemonada-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;

                     }
@font-face {
                        font-family: "Lemonada";
                        font-display: swap;
                        src: url("../fonts/Lemonada-VariableFont_wght.woff2") format("woff2"), url("../fonts/Lemonada-VariableFont_wght.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Overlock";
                        font-display: swap;
                        src: url("../fonts/Overlock-BlackItalic.woff2") format("woff2"), url("../fonts/Overlock-BlackItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Overlock";
                        font-display: swap;
                        src: url("../fonts/Overlock-Italic.woff2") format("woff2"), url("../fonts/Overlock-Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Overlock";
                        font-display: swap;
                        src: url("../fonts/Overlock-BoldItalic.woff2") format("woff2"), url("../fonts/Overlock-BoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Overlock";
                        font-display: swap;
                        src: url("../fonts/Overlock-Regular.woff2") format("woff2"), url("../fonts/Overlock-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Podkova";
                        font-display: swap;
                        src: url("../fonts/Podkova-Bold.woff2") format("woff2"), url("../fonts/Podkova-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;

                     }
@font-face {
                        font-family: "Podkova";
                        font-display: swap;
                        src: url("../fonts/Podkova-ExtraBold.woff2") format("woff2"), url("../fonts/Podkova-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;

                     }
@font-face {
                        font-family: "Overlock";
                        font-display: swap;
                        src: url("../fonts/Overlock-Bold.woff2") format("woff2"), url("../fonts/Overlock-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;

                     }
@font-face {
                        font-family: "Podkova";
                        font-display: swap;
                        src: url("../fonts/Podkova-Medium.woff2") format("woff2"), url("../fonts/Podkova-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;

                     }
@font-face {
                        font-family: "Podkova";
                        font-display: swap;
                        src: url("../fonts/Podkova-Regular.woff2") format("woff2"), url("../fonts/Podkova-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Podkova";
                        font-display: swap;
                        src: url("../fonts/Podkova-VariableFont_wght.woff2") format("woff2"), url("../fonts/Podkova-VariableFont_wght.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Podkova";
                        font-display: swap;
                        src: url("../fonts/Podkova-SemiBold.woff2") format("woff2"), url("../fonts/Podkova-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;

                     }
@font-face {
                        font-family: "Quicksand";
                        font-display: swap;
                        src: url("../fonts/Quicksand-Medium.woff2") format("woff2"), url("../fonts/Quicksand-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;

                     }
@font-face {
                        font-family: "Quicksand";
                        font-display: swap;
                        src: url("../fonts/Quicksand-Light.woff2") format("woff2"), url("../fonts/Quicksand-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;

                     }
@font-face {
                        font-family: "Quicksand";
                        font-display: swap;
                        src: url("../fonts/Quicksand-Regular.woff2") format("woff2"), url("../fonts/Quicksand-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Quicksand";
                        font-display: swap;
                        src: url("../fonts/Quicksand-SemiBold.woff2") format("woff2"), url("../fonts/Quicksand-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;

                     }
@font-face {
                        font-family: "Quicksand";
                        font-display: swap;
                        src: url("../fonts/Quicksand-VariableFont_wght.woff2") format("woff2"), url("../fonts/Quicksand-VariableFont_wght.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "TitilliumWeb";
                        font-display: swap;
                        src: url("../fonts/TitilliumWeb-Bold.woff2") format("woff2"), url("../fonts/TitilliumWeb-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;

                     }
@font-face {
                        font-family: "TitilliumWeb";
                        font-display: swap;
                        src: url("../fonts/TitilliumWeb-Black.woff2") format("woff2"), url("../fonts/TitilliumWeb-Black.woff") format("woff");
	font-weight: 900;
	font-style: normal;

                     }
@font-face {
                        font-family: "Quicksand";
                        font-display: swap;
                        src: url("../fonts/Quicksand-Bold.woff2") format("woff2"), url("../fonts/Quicksand-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;

                     }
@font-face {
                        font-family: "TitilliumWeb";
                        font-display: swap;
                        src: url("../fonts/TitilliumWeb-BoldItalic.woff2") format("woff2"), url("../fonts/TitilliumWeb-BoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "TitilliumWeb";
                        font-display: swap;
                        src: url("../fonts/TitilliumWeb-ExtraLight.woff2") format("woff2"), url("../fonts/TitilliumWeb-ExtraLight.woff") format("woff");
	font-weight: 200;
	font-style: normal;

                     }
@font-face {
                        font-family: "TitilliumWeb";
                        font-display: swap;
                        src: url("../fonts/TitilliumWeb-ExtraLightItalic.woff2") format("woff2"), url("../fonts/TitilliumWeb-ExtraLightItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "TitilliumWeb";
                        font-display: swap;
                        src: url("../fonts/TitilliumWeb-Italic.woff2") format("woff2"), url("../fonts/TitilliumWeb-Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "TitilliumWeb";
                        font-display: swap;
                        src: url("../fonts/TitilliumWeb-LightItalic.woff2") format("woff2"), url("../fonts/TitilliumWeb-LightItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "TitilliumWeb";
                        font-display: swap;
                        src: url("../fonts/TitilliumWeb-SemiBold.woff2") format("woff2"), url("../fonts/TitilliumWeb-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;

                     }
@font-face {
                        font-family: "TitilliumWeb";
                        font-display: swap;
                        src: url("../fonts/TitilliumWeb-Light.woff2") format("woff2"), url("../fonts/TitilliumWeb-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;

                     }
@font-face {
                        font-family: "TitilliumWeb";
                        font-display: swap;
                        src: url("../fonts/TitilliumWeb-Regular.woff2") format("woff2"), url("../fonts/TitilliumWeb-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "TitilliumWeb";
                        font-display: swap;
                        src: url("../fonts/TitilliumWeb-SemiBoldItalic.woff2") format("woff2"), url("../fonts/TitilliumWeb-SemiBoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Ubuntu";
                        font-display: swap;
                        src: url("../fonts/Ubuntu-Bold.woff2") format("woff2"), url("../fonts/Ubuntu-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;

                     }
@font-face {
                        font-family: "Ubuntu";
                        font-display: swap;
                        src: url("../fonts/Ubuntu-BoldItalic.woff2") format("woff2"), url("../fonts/Ubuntu-BoldItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Ubuntu";
                        font-display: swap;
                        src: url("../fonts/Ubuntu-Italic.woff2") format("woff2"), url("../fonts/Ubuntu-Italic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Ubuntu";
                        font-display: swap;
                        src: url("../fonts/Ubuntu-Light.woff2") format("woff2"), url("../fonts/Ubuntu-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;

                     }
@font-face {
                        font-family: "Ubuntu";
                        font-display: swap;
                        src: url("../fonts/Ubuntu-LightItalic.woff2") format("woff2"), url("../fonts/Ubuntu-LightItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Ubuntu";
                        font-display: swap;
                        src: url("../fonts/Ubuntu-Medium.woff2") format("woff2"), url("../fonts/Ubuntu-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;

                     }
@font-face {
                        font-family: "Ubuntu";
                        font-display: swap;
                        src: url("../fonts/Ubuntu-MediumItalic.woff2") format("woff2"), url("../fonts/Ubuntu-MediumItalic.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
@font-face {
                        font-family: "Ubuntu";
                        font-display: swap;
                        src: url("../fonts/Ubuntu-Regular.woff2") format("woff2"), url("../fonts/Ubuntu-Regular.woff") format("woff");
	font-weight: 400;
	font-style: normal;

                     }
