.rmbt-footer-2-full-width {
}
.rmbt-footer-2 {
  // border: 1px solid @border-color-wireframe-external;
  &__row {
    .row-flex();
  }
  &__col {
    .col();
    .size(4);

    border: 1px dashed @border-color-wireframe-inner;
  }

  .rmbt-footer-2-row-content {
    height: 200px;
    margin-bottom: @margin-bottom-block;

    padding-top: @padding-top-section*3;
    padding-bottom: @padding-bottom-section;
  }

  .rmbt-footer-2-row-copyright {
  }
}
.block-details {
}
