.rmbt-full-width {
}
.rmbt-how-we-work-full-width {
}
.rmbt-container {
}
.rmbt-how-we-work {
  min-height: 220px;

  &__row {
    .row-flex();
    row-gap: 30px;
    padding-top: 5px;
    padding-bottom: 5px;

    

    .to(480px,{
    justify-content: center;
    });
  }
  &__col {
    .col();
    .size(3);
    min-width: 282px;
    padding: 20px 15px 20px 15px;
    border-radius: 16px;

    
    

    .to(1280px,{
        .size(4);

    &:nth-of-type(1),
    &:nth-of-type(3) {
        .shift-left(2);
    }

    });

    .to(960px,{
      .size(5);
        min-width: 201px;
      &:nth-of-type(1),
      &:nth-of-type(3) {
        .shift-left(1);
      }
    });

    .to(560px,{
      .size(6);
        min-width: 201px;
      &:nth-of-type(1),
      &:nth-of-type(3) {
        .shift-left(0);
      }
    });
    
    .to(480px,{
      .adaptive-prop(width, 260, 330);
      min-width: 210px;
    });
  }
  
  &__img {
    height: 200px;
    border-radius: 16px;
    
  }
  .wrap-img {
  }

  &__article-text {
    display: none;
  }

  .title-section {
  }
  .subtitle-section {
  }

  .title-block {
    margin-left: auto;
    margin-top: 25px;
    margin-bottom: 25px;
    width: auto;
    line-height: 100%;

    &::after {
      width: auto;
      top: 115%;
      left: 15px;
      right: 15px;
    }
  }

  .subtitle-block {
    margin-left: auto;
    text-align: center;
    margin-bottom: 10px;
  }
}
