.rmbt-hero-block-1-full-width {
  margin-top: @height_top_row;
  background-color: @color_background_header;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 65px;
    // transform: translate(-50%,-50%);
    width: 100%;
    height: 1px;
    background-color: #d5d5d5;
    // border-bottom: 1px solid #d5d5d5;
  }

  &__bg {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    background-color: @color_background_header;
  }
}

.rmbt-hero-block-1-top-row {
  &__row {
  }
  &__col {
  }
}
.rmbt-hero-block-1-top-row-bottom-row {
}
.rmbt-hero-block-1-top-row-bottom-col-left {
}
.rmbt-hero-block-1-top-row-bottom-col-center {
}
.block-details {
}
.block-details-main-header-menu {
}
.block-details-search {
}
.rmbt-hero-block-1-top-row-bottom-col-burger {
}
.rmbt-hero-block-1-top-row-bottom-col-right {
}

.rmbt-hero-block-1 {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;

  &__row {
    display: flex;
    column-gap: 3px;
    position: relative;
  }

  &__col {
    height: 350px;
  }

  &__title-block {
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  &__right-text {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translate(0%, -50%);
    border: 1px dashed @border-color-wireframe-inner;

    width: 30px;
    height: 80%;

    writing-mode: vertical-rl;
    text-orientation: upright; /* Чтобы буквы не были наклонены */

    .block-details {
      width: 100%;
    }
  }
}
.rmbt-hero-block-1-col-right {
  flex-basis: 30%;
  position: relative;

  border: 1px solid @color_border_col;

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      background-color: @color_background_col;
      border-radius: 8px 0px 0px 8px;
    }
  }
}
.rmbt-hero-block-1-col-left {
  flex-grow: 1;
  position: relative;

  border: 1px solid @color_border_col;

  &__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;

      // background-color: rgba(245, 245, 245, 0.8);
      border-radius: 0px 12px 12px 0px;
      background-color: @color_background_col;
    }
  }
}

.rmbt-title-block {
  width: 400px;
  height: 240px;

  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;

  border: 1px solid @border-color-wireframe-inner;
  background-color: #fff;

  &__decor {
    position: absolute;
    right: 20px;
    top: 15px;
    // transform: translate(-50%,-50%);
    width: 30px;
    height: 30px;

    border-radius: 50%;
    border: 1px solid @border-color-wireframe-inner;
  }

  &__icon {
    width: 40px;
    height: 40px;

    border: 1px dashed @border-color-wireframe-inner;
    margin-bottom: 30px;
  }

  &__title {
    width: 75%;
    height: 50px;
    border: 1px dashed @border-color-wireframe-inner;
    margin-bottom: 25px;
  }
  &__subtitle {
    width: 40%;
    height: 30px;
    border: 1px dashed @border-color-wireframe-inner;
    margin-bottom: 10px;
  }
}
