.rmbt-full-width {
}
.rmbt-header-full-width {
}
.rmbt-container {
}
.rmbt-header {
  &__row {
    display: flex;
  }
  &__col {
  }
}
.row-top-header {
  height: 30px;

  border: 1px solid #0515fd;

  &__contacts {
    display: flex;
  }

  &__controls {
    background-color: #def7a6;
  }
}
.row-bottom-header {
}
.cont-horizont-menu {
}
