.rmbt-header-2-top-row-full-width {
  background-color: #222322;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}

.rmbt-header-2-top-row {
  justify-content: space-between;
  color: #fff;
  height: @height_top_row;

  ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px 0px 0px 0px;

    position: relative;

    li {
      line-height: 160%;
    }
  }

  .hidden {
    position: absolute;
    top: 0%;
    overflow: hidden;
    pointer-events: none;
    opacity: 0;
    z-index: 0;
    transition: z-index 1s, top 1s, opacity 1s;
  }

  .visible {
    position: absolute;
    left: 0%;
    width: 100%;
    z-index: 1;
    opacity: 1;
    transition: top 1s, opacity 1s;
  }

  .drop_ul {
    position: relative;
    padding-right: 18px;

    .icon_drop {
      position: absolute;
      right: 0%;
      top: 50%;
      transform: translate(0%, -50%);

      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 8px solid #fff;

      cursor: pointer;
      transition: all 0.5s;
    }

    .open {
      transform: rotate(180deg);
      transition: all 0.5s;
      transform-origin: 4px 2px;
    }
  }
}
.rmbt-header-2-top-col-right {
  .size(4);
}
.rmbt-header-2-top-col-left {
  .size(6);
  display: flex;
  justify-content: start;
  align-items: center;
  column-gap: 20px;

  .to(1024px,{
    .size(6);
  });

  &__phones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
  }
}

// .rmbt-header-2-bottom-row-full-width {
//   margin-top: @height_top_row;
//   background-color: @color_background_header;
// }
.rmbt-header-2 {
  background-color: @color_background_header;
  &__row {
    .row-flex();
  }
  &__col {
    .col();
  }
}

.rmbt-header-2-bottom-row {
  // height: 65px;
  // padding-top: 15px;
  // padding-bottom: 15px;
}
.rmbt-header-2-bottom-col-left {
  .size(3);
}
.rmbt-header-2-bottom-col-center {
  // .size(7);

  // .to(768px,{
  //       .size(7);
  //   });

  // .block-details-search {
  //   display: none;
  //   .to(768px,{
  //   display: flex;
  //   });
  // }

  // .block-details-main-header-menu {
  //   display: flex;
  //   .to(768px,{
  //     display: none;
  //   });
  // }
}
.rmbt-header-2-bottom-col-burger {
  // display: none;
  // .size(1);
  // .to(768px,{
  // display: block;
  // });
}
.rmbt-header-2-bottom-col-right {
  // .size(2);
}
