.rmbt-header-2-top-row-full-width {
  background-color: #222322;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 5;
}

.rmbt-header-2 {
  background-color: @color_background_header;
  &__row {
    .row-flex();
  }
  &__col {
    .col();
  }
}
.rmbt-header-2-top-row {
  justify-content: space-between;
  flex-wrap: nowrap;
  color: #fff;
  height: @height_top_row;

  font-family: Biryani;
  font-size: 14px;
  font-weight: 400;

  a {
    color: inherit;
    .adaptive-prop(font-size, 13, 12);

    letter-spacing: 1px;
    font-weight: 200;
    transition: all 0.35s ease-in-out;
    display: block;
  }

  ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px 0px 0px 0px;

    position: relative;

    li {
      line-height: 160%;
    }
  }

  // .hidden {
  //   position: absolute;
  //   top: 0%;
  //   overflow: hidden;
  //   pointer-events: none;
  //   opacity: 0;
  //   z-index: 0;
  //   transition: z-index 1s, top 1s, opacity 1s;
  // }

  // .visible {
  //   position: absolute;
  //   left: 0%;
  //   width: 100%;
  //   z-index: 1;
  //   opacity: 1;
  //   transition: top 1s, opacity 1s;
  // }

  .drop_ul {
    position: relative;
    padding-right: 18px;

    .icon_drop {
      position: absolute;
      right: 0%;
      top: 50%;
      transform: translate(0%, -50%);
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 8px solid #fff;
      cursor: pointer;
      transition: all 0.5s;
    }

    .open {
      transform: rotate(180deg);
      transition: all 0.5s;
      transform-origin: 4px 2px;
    }
  }
}

.rmbt-header-2-top-col-left {
  .size(8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;

  .to(768px,{
    flex-grow: 1;

  });

  .to(690px,{
  justify-content: start;
  });

  svg {
    display: none;
    width: 32px;
    height: 32px;
  }

  .to(480px,{
     #svg_phone {
       display: block;
     }
  });

  a {
    &:hover {
      transform: scale(1.02);
      transition: all 0.1s ease-in-out;
    }
  }

  &__email {
    .to(600px,{
      // a{
      //   display: none;
      // }
      svg {
        display: block;
      }  
    });
  }

  &__phones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    .adaptive-prop(font-size, 16, 14);
    width: auto;

    .to(480px,{
      // ul{
      //   display: none;
      // }
      svg {
        display: block;
      } 
    });
  }
}

.hidden {
  position: absolute;
  top: 0%;
  overflow: hidden;
  pointer-events: none;
  opacity: 0;
  z-index: 0;
  transition: z-index 1s, top 1s, opacity 1s;
  width: 0px;
  padding: 0px 0px 0px 0px !important;
}

.visible {
  position: absolute;
  left: 0%;
  width: 100%;
  z-index: 1;
  opacity: 1;
  transition: top 1s, opacity 1s;
}

// .rmbt-header-2-top-col-center {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   flex-grow: 1;

//   display: none;

//   .to(1024px,{
//     justify-content: start;
//   });

//   .to(768px,{
//     flex-grow: 1;
//     justify-content: center;

//     display: none;

//     svg{

//       width: 32px;
//       height: 32px;
//       display: none;
//     }

//   });

//   // a {
//   //   &:hover {
//   //     transform: scale(1.02);
//   //     transition: all 0.1s ease-in-out;
//   //   }
//   // }
// }

.rmbt-header-2-top-col-right {
  .size(2);

  display: flex;
  align-items: center;
  justify-content: end;
  column-gap: 15px;

  .to(768px,{
  // flex-grow: 1;
  });

  svg {
    width: 22px;
    height: 22px;

    &:hover {
      &:hover {
        transform: scale(1.15);
        transition: all 0.1s ease-in-out;
      }
    }
  }
}
