.rmbt-hero-block-1-top-row-full-width {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(34, 35, 34, 1) 100%);

  position: relative;
  margin-top: @height_top_row;
  z-index: 5;
  padding-bottom: 10px;
}

.rmbt-hero-block-1-top-row {
  position: relative;

  &__row {
    height: @height_hero-block-1_top_row;
    .row-flex();
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
  }
  &__col {
    .col();
  }
}

.rmbt-hero-block-1-top-row-col-left {
  .size(3);
  position: relative;
  img {
    width: 100%;
    height: auto;
  }

  .to(768px,{
    .adaptive-prop(width, 285, 200);
  });

  .to(390px,{
    width: 350px;
  });
}
.rmbt-hero-block-1-top-row-col-center {
  .size(6);
  .shift-left(1);

  .to(1024px,{
    .shift-left(0);
  });

  .to(768px,{
        .size(4);

        .rmbt-button-link{
          width: 100%;
        }
    });

  .rmbt-menu-horizontal {
    font-family: Podkova;
    font-size: 21px;
    font-weight: 300;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);

    color: rgba(252, 252, 252, 0.91);
  }
}

.rmbt-hero-block-1-top-row-col-right {
  .size(2);

  .rmbt-button-link {
    .adaptive-prop(width, 150, 120);
  }

  .to(1024px,{
    width: auto;
  
  });

  .rmbt-social-networks {
    display: none;
  }
}
